$green: #ADE251;
$grey: #DBDBDB;

body{
    padding-top: 2.9%;
    background-color: $grey;
    
}

.title{
    margin: auto;
    width: 30vw;
}

.head{
    background-image: url('/img/bg.jpg');
    height: 95vh;
    background-attachment: fixed;
    background-position-y: center;
}

.formVideo{
    background-color: #F0F0F0;
    margin: auto;
    margin-top: 6%;
    padding: 2%;

}

.Card:hover{
    transform: scale(1.01);
}

.showCard{
    background-color: whitesmoke;
}

.yt{
    background-color: #343A40;
}

.headTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;

    p{
        color: white;
        font-size: 5rem;
        font-family: 'Lobster';
    }
}

.icon{
    width: 32px;
    height: auto;
}

.card-img, .card-img-top{
    width: 100%;
    height: auto;
}

.row{
    max-width: 100%;
    
}
