{% extends "base.html.twig" %}

{% block body %}

    <div class="head mb-5 d-flex flex-column align-items center">
        <div class="headTitle">
            <p>Tutos Dev</p>
            <p>et Veille Technologique</p>
        </div>
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="container">
        <div class="row mb-5">
            <div class="p col-lg-4 col-sm-12">
                <div class="card bg-light" style="width: 18rem;">
                    <img src="https://www.nerdstickers.com.br/arquivos/2018/11/Adesivo-Symfony-Nerd-Stickers.fw_.png" class="card-img-top" alt="Symfony">
                    <div class="card-body">
                        <h5 class="card-title">Tuto Symfony</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ path('symfony') }}" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
            <div class="p col-lg-4 col-sm-12">
                <div class="card bg-light" style="width: 18rem;">
                    <img src="https://t3.ftcdn.net/jpg/01/42/56/70/500_F_142567048_v5f4LZXqQvX0nlm4DGz6lnVbiEuLzSek.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Veille Technologique</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ path('veille') }}" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
            <div class="p col-lg-4 col-sm-12">
                <div class="card bg-light" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150C/O" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="card bg-light" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150C/O" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card bg-light" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150C/O" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card bg-light" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150C/O" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    



{% endblock %}